<% @posts.each do |p| %>
  <div class="well">
    <%= cl_image_tag(p.image, :class => "img-responsive") %>
    <h3><%= p.desc %></h3>
    <span>
     <%= p.user.display_name %>
      <%= link_to "", root_path(p), class: 'glyphicon glyphicon-commentbox' %>
      <% if p.owned_by? @current_user %>
        <%= link_to "", post_path(p), class: 'glyphicon glyphicon-pencil' %>
        <%= link_to "", p, method: :delete, class: 'glyphicon glyphicon-trash' %>
      <% end %>

      </span>
  </div>
<% end %>

